
/* Document-wide */
* {box-sizing:  border-box;}
/* Mobile Devices: */
[class*="col-"] { width: 100%;} 

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Make all columns float to the left, with some padding */
[class*="col-"] {
    float: left;
    padding: 15px;
  }

/* clears the flow, so that elements won't ignore the columns */
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 
  


  body{
    background-color: #d3d3d3;
    color:#555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    line-height: 1.6em;
  margin:0;
  }
  

/* Jackson's css */
a{
    text-decoration: none;
    color:#fff;
  }

  .main-header{
    text-align:center;
    font-weight:800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:200%;
    letter-spacing: .3em;
    background-color: black;
    color:White;
    padding:45px;
  }
  
  .container{
    margin:auto;
  }
  
  
  /*Formatting for the navBar in the main header*/
  

  li{
    letter-spacing: .2em;
    list-style: none;
    padding-right:40px;
    float:right;
  }

  ul{
    text-decoration:none;
  }

  a:hover{
    color:#d3d3d3;
  }

/* Kalyn*/





/* Evan */


